<%- include ("includes/_header.ejs") %>
<div class="container2">
    <h1>Modifica Studente</h1>
    <div id="cont_form">
        <form method="POST" id="formUpdateStudente" class="updateStudente">
            <div id="container_Studente">
                <label for="matricola" class="labelUpdateStudente">
                    <span class="span">Matricola:</span> 
                    <input type="text" name="matricola" class="in_studente" value="<%= studente[0].Matricola %>" placeholder="Matricola" required>
                </label>
                <label for="nome" class="labelUpdateStudente">
                    <span class="span">Nome:</span> 
                    <input type="text" name="nome"  class="in_studente"  placeholder="Nome" value="<%= studente[0].Nome %>" required>
                </label>
                <label for="cognome" class="labelUpdateStudente">
                    <span class="span">Cognome:</span> 
                    <input type="text" name="cognome"  class="in_studente"  placeholder="Cognome" value="<%= studente[0].Cognome %>" required>
                </label>
                <label for="cf" class="labelUpdateStudente">
                    <span class="span">CF:</span> 
                    <input type="text" name="cf" class="in_studente" placeholder="Cod. Fiscale" value="<%= studente[0].cf %>" required>
                </label>
                <label for="codCdsIscr" class="labelUpdateStudente">
                    <span class="span">Cod_CdsIscr</span> 
                    <input type="text" name="codCdsIscr"  class="in_studente" placeholder="Cod. CdsIscr" value="<%= studente[0].codCdsIscr %>" required>
                </label>
                <label for="regolamento" class="labelUpdateStudente">
                    <span class="span">Regolamento:</span> 
                    <input type="text" name="regolamento"  class="in_studente" placeholder="Regolamento" value="<%= studente[0].Regolamento %>" required>
                </label>
                <label for="cfu" class="labelUpdateStudente">
                    <span class="span">CFU</span> 
                    <input type="text" name="cfu" class="in_studente" placeholder="CFU" value="<%= studente[0].cfu %>" required>
                </label>
                <div id="c_sbmtStudente">            
                    <input type="submit" name="submitData" id="submitData" value="Invia">
                </div>
            </div>
        </form>
    </div>
</div>
<%- include ("includes/_footer.ejs") %>